<div class="card">
  <form (submit)="onAddTodoItem($event)">
    <input [(ngModel)]="newTodoItem" name="newTodoItem" #inputElement type="text">
  </form>
  <div *ngFor="let todoItem of todos" class="list">
    <app-todoitem
      (completedTodoItem)="onReceievedCompletedTodo($event)"
      (deleteTodoItem)="onReceievedDeletedTodo($event)"
      [todoItem]="todoItem">
    </app-todoitem>
  </div>

  <div class="options_bar">
    <button (click)="onDisplayAllTodos()">All</button>
    <button (click)="onDisplayActiveTodos()">Active</button>
    <button (click)="onDisplayCompletedTodos()">Complete</button>
  </div>
</div>
