<div class="todo_item">
  <label for="checkbox"></label>
  <input (change)="onCompleteTodoItem(todoItem)" [checked]="todoItem.complete" id="checkbox" type="checkbox">
  <p
    (click)="onCompleteTodoItem(todoItem)"
    [class.strike_through]="todoItem.complete">{{ todoItem.todo }}
  </p>
  <p class="view_todo" (click)="navigateToTodoInfo()">View</p>
  <span (click)="onOpenDeleteModal(deleteModal)" class="trash_icon"><i class="fa fa-trash"></i></span>
</div>



<ng-template #deleteModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
