
.todo_item {
  position: relative;

  input[type='checkbox'] {
    margin-right: 5px;
  }

  p {
    display: inline-block;
    width: 300px;
  }

  .strike_through {
    text-decoration: line-through;
  }

  .view_todo {
    cursor: pointer;
  }

  .trash_icon {
    position: absolute;
    right: 0;
  }


}


